<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PageLayout02.html</title>
	<style>
		#navi{
			width: 200px;
			position: absolute;
		}
		#content{
			/*margin-left: 200px;*/
			/*border-left-width: 200px;
			border-left-style: solid;
			border-left-color: yellow;*/
			
			/* 위의 3줄을 한줄로 표현하면 */
			border-left: 200px solid yellow;
		}
	</style>
</head>
<body>
<div id="navi">
	<ul>
		<li><a href="#">하나</a></li>
		<li><a href="#">두울</a></li>
		<li><a href="#">세엣</a></li>
		<li><a href="#">네엣</a></li>
	</ul>
	<ul>
		<li><a href="#">One</a></li>
		<li><a href="#">Two</a></li>
		<li><a href="#">Three</a></li>
		<li><a href="#">Four</a></li>
	</ul>
</div>	
<div id="content">
	<h3>제목1</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita aliquam maiores voluptates ab laudantium facere fugit quos asperiores, vel labore voluptatem, quibusdam, dolore libero dignissimos perferendis illum dolor nemo ipsum.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita aliquam maiores voluptates ab laudantium facere fugit quos asperiores, vel labore voluptatem, quibusdam, dolore libero dignissimos perferendis illum dolor nemo ipsum.</p>
	<h3>제목2</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita aliquam maiores voluptates ab laudantium facere fugit quos asperiores, vel labore voluptatem, quibusdam, dolore libero dignissimos perferendis illum dolor nemo ipsum.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita aliquam maiores voluptates ab laudantium facere fugit quos asperiores, vel labore voluptatem, quibusdam, dolore libero dignissimos perferendis illum dolor nemo ipsum.</p>
	<h3>제목3</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita aliquam maiores voluptates ab laudantium facere fugit quos asperiores, vel labore voluptatem, quibusdam, dolore libero dignissimos perferendis illum dolor nemo ipsum.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita aliquam maiores voluptates ab laudantium facere fugit quos asperiores, vel labore voluptatem, quibusdam, dolore libero dignissimos perferendis illum dolor nemo ipsum.</p>
</div>		
</body>
</html>